@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <h1>Hi, @ViewBag.FirstName!</h1>
    }
    <h1>Welcome to Kara-OK</h1>
</div>
